@import url("general.css");

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "sidebar main"
        "sidebar footer";
}

/* hidden this header first, only show at mobile view */
nav {
    grid-area: header;
    padding: 0.5em;
    display: none;
}

aside {
    grid-area: sidebar;
    padding: 1em;
    background-color: #d1dbe4;
    top: 0;
    position: sticky;
    align-self: start;
    height: 100vh;
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

/* also hidden, only show at mobile view */
#close-menu {
    display: none;
}

main {
    grid-area: main;
    padding: 1em;
}

footer {
    grid-area: footer;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: 2px black solid; */
    background-color: #d1dbe4;
}

footer p {
    margin: 0;
}

.search-box {
    margin: 0.5em 0;
    position: relative;
}

.search-box input {
    width: 100%;
    height: 2rem;
    padding: 10px 15px 10px 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px black solid;
}

.search-box input:focus {
    border-color: #194a7a;
    box-shadow: 0 0 10px rgba(25, 74, 122, 0.6);
    outline: none;
}

.search-box i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    pointer-events: none;
}

.nav-pages {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    gap: 0.5em;
}

.nav-pages a,
.nav-pages i {
    color: #1a1a1a;
    font-size: 0.9em;
}

.nav-pages a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px 10px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.nav-pages i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
}

.nav-pages a:hover {
    background-color: #bcd2e7;
}

.nav-pages a.active {
    background-color: #a3b7ca;
    font-weight: 600;
    color: #000;
}

.user-info-section-desktop {
    margin: auto -1em -1em -1em;
    border: 2px black solid;
    height: 55px;
    width: 250px;
    align-self: flex-end;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 1.5em;
    gap: 15px;
}

.user-info-section-desktop img {
    border-radius: 5px;
}

.user-info-section-desktop .user-info-box .name {
    font-size: 1em;
    font-weight: 600;
}

.user-info-section-desktop .user-info-box .role {
    font-size: 0.85em;
    color: #666;
}

.logout-form {
    margin: 0;
    padding-left: 0.2em;
    display: flex;
}

.logout-btn {
    background: none;
    border: none;
    padding: 5px;
    cursor: pointer;

    font-size: 18px;
    color: #454545;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.logout-btn:hover {
    color: #f42323;
}

.sidebar-subTitle {
    margin-top: 0.5em;
    font-size: 0.85em;
    color: #666;
}

.page-subTitle {
    padding: 0.3em 0;
    color: #666;
    font-weight: 400;
    font-size: 1.3em;
}

.data-container {
    margin: 1em 0;
    padding: 0.5em 0;
    width: 100%;
    height: auto;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    gap: 5em;
}

.data-box {
    width: 20em;
    height: 8em;
    border-radius: 10px;
    background: linear-gradient(to right, #CFE5F3 0%, #B1C6D7 100%);
    padding: 1em;
}

.data-box-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: blue; */
}

.percentage-box {
    height: auto;
    width: 6em;
    border-radius: 8px;
    border: 1px black solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.percentage-box i,
.percentage-box p {
    font-size: 0.9em !important;
    padding: 0.1em 0;
}

.percentage-box i {
    padding: 0.2em 0;
}

.data-box h1 {
    font-size: 2.5em;
}

.increase-number {
    display: flex;
    justify-content: right;
    padding-top: 0.3em;
    font-size: 0.9em;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-chart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 73vw;
    height: 260px;
    padding: 1em 2.5em;
    gap: 0.7em;
    border-radius: 8px;
    background: linear-gradient(to right, #CFE5F3 0%, #B1C6D7 100%);
}

.item-chart-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-chart select {
    width: 10em;
    padding: 0.5em;
    border-radius: 8px;
    border: 1px black solid;
}

.item-chart-box {
    position: relative;
    height: 100%;
    width: 100%;
}

@media(max-width: 800px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    /* show the header */
    nav {
        display: flex;
        flex-direction: row;
        gap: 1em;
        background-color: #d1dbe4;
    }

    nav h2 {
        padding-top: 0.2em;
        font-weight: 500;
    }

    aside {
        position: fixed;
        width: 250px;

        /* Don't hide the sidebar, push the it out of the screen (for animation) */
        left: -300px;
        transition: left 0.3s ease;
    }

    #close-menu {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .icon-menu {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: #333;
        padding: 5px;
        transition: color 0.3s;
    }

    .icon-menu:hover {
        color: #007bff;
    }

    .show {
        /*  push back the sidebar to the screen (for animation) */
        left: 0;
    }

    .page-subTitle {
        font-size: 1em;
    }

    .data-container {
        flex-direction: column;
        gap: 2em;
    }

    .data-box {
        align-self: center;
    }

    .item-chart {
        width: 95%;
        padding: 1em;
        gap: 0.7em;
    }

    /* 
    .user-info-section-desktop {
        display: none;
    } */

    /* iphone SE not match */
    /* .item-chart-title h3 {
        font-size: 1.1em;
    } */
}