@import url("general.css");

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "sidebar main"
        "sidebar footer";
}

/* hidden this header first, only show at mobile view */
nav {
    grid-area: header;
    padding: 0.5em;
    display: none;
}

aside {
    grid-area: sidebar;
    padding: 1em;
    background-color: lightblue;
    top: 0;
    position: sticky;
    align-self: start;
    height: 100vh;
}

/* also hidden, only show at mobile view */
#close-menu {
    display: none;
}

main {
    grid-area: main;
    padding: 1em;
    background-color: antiquewhite;
}

footer {
    grid-area: footer;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px black solid;
}

footer p {
    margin: 0;
}

.search-box {
    margin: 0.5em 0;
    position: relative;
}

.search-box input {
    width: 100%;
    height: 2rem;
    padding: 10px 15px 10px 40px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.search-box i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
    pointer-events: none;
}

.nav-pages {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
    gap: 1.2em;
}

.nav-pages a,
.nav-pages i {
    color: #1a1a1a
}

.nav-pages a {
    text-decoration: none;
}

.nav-pages i {
    margin-right: 10px;
    width: 20px;
    text-align: center;
}

@media(max-width: 800px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas:
            "header"
            "main"
            "footer";
    }

    /* show the header */
    nav {
        display: block;
    }

    aside {
        position: fixed;
        width: 250px;
        background-color: lightblue;

        /* Don't hide the sidebar, push the it out of the screen (for animation) */
        left: -300px;
        transition: left 0.3s ease;
    }

    #close-menu {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .icon-menu {
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: #333;
        padding: 5px;
        transition: color 0.3s;
    }

    .icon-menu:hover {
        color: #007bff;
    }

    .show {
        /*  push back the sidebar to the screen (for animation) */
        left: 0;
    }
}