@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

html,
body {
    max-width: 100%;
    /* hidden will make sticky work unnormally, change clip */
    overflow-x: clip;
}