@import url("general.css");

body {
    background-color: #A9BA9D;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2.5em;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1000;
}

.mobile-logo {
    display: none;
}

nav {
    /* background-color: red; */
    width: 40%;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a,
nav a:visited {
    font-size: 1em;
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #707c68;
    transform: scale(1.10);
    font-weight: bold;
}

footer {
    background-color: #aed197;
    width: 100%;
    padding: 1em 3em;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90%;
    /* background-color: green; */
}

.copy-right {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    padding-top: 1em;
}

.footer-section1 {
    /* width: 50%; */
    /* background-color: blue; */
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
}

.footer-section1-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-header {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-header h2 {
    color: #28351f;
}

.footer-header p {
    color: #47533f;
    font-weight: lighter;
}

.social-media {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 2em;
}

.social-media a {
    text-decoration: none;
    color: black;
}

.footer-logo {
    width: 150px;
    height: 50px;
}

.footer-section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    /* width: 25%; */
    /* background-color: red; */
}

.footer-section2 a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 1.1em;
}

.footer-section3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
    /* background-color: #fff; */
}

.footer-our-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.icon-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    color: #28351f;
}

.footer-our-info p {
    font-weight: lighter;
    color: #47533f;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 89vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../src/elements/loginBg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-container {
    width: 500px;
    height: 500px;
    padding: 1em;
    background-color: #A9BA9D;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-header {
    padding: 1.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /* background-color: #ccc; */
}

.login-header h1 {
    color: #28351f;
}

.login-header p {
    color: #47533f;
}

.login-form {
    margin-top: 1em;
    width: 90%;
}

.login-form form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* background-color: blue; */
}

.login-form-table {
    width: 100%;
    margin: 1em auto;
    border-spacing: 1em 1.2em;
    font-size: 1em;
    color: #333;
    /* background-color: red; */
}

.login-form-table .label {
    font-weight: 500;
    width: 3em;
    text-align: left;
    padding-right: 10px;
}

.login-form-table input,
.login-form input {
    background-color: #93a08a;
}

.login-form-table input {
    outline: 1px solid #707c68;
}

.password-labelText,
.password-colon {
    padding-bottom: 1.5em;
}

.login-form-table .colon {
    width: 0.3em;
    text-align: center;
}

.login-form-table input {
    width: 100%;
    padding: 0.8em 0.5em;
    border: 1.5px #ccc solid;
    border-radius: 6px;
    font-size: 1em;
    transition: 0.3s;
}

.login-form-table input:focus {
    border-color: #194a7a;
    box-shadow: 0 0 5px rgba(25, 74, 122, 0.4);
    outline: none;
}

.password-feild {
    display: flex;
    flex-direction: column;
}

.password-feild .forgot-password {
    align-self: flex-end;
    padding-top: 0.7em;
    font-size: 0.8em;
    color: #194a7a;
    text-decoration: none;
}

.btn-login {
    align-self: center;
    width: 90%;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1em;
    border: none;
    border-radius: 15px;
    padding: 1em 0;
    transition: 0.3s;
}

.btn-login:hover {
    background: rgba(36, 98, 159, 0.8);
    transform: translateY(-2px);
}

.signup-text {
    margin-top: 1em;
    align-self: center;
    font-size: 0.9em;
    /* background-color: aqua; */
}

.signup-text a {
    color: #194a7a;
    text-decoration: none;
}

.signup-text a:hover,
.password-feild .forgot-password:hover {
    text-decoration: underline;
}

.about-us-container {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
    margin-bottom: 2em;
}

.about-us-header {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../src/elements/aboutUs.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.model {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.about-us-header h1 {
    font-size: 8em;
    font-weight: 800;
    letter-spacing: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    -webkit-text-stroke: 1px white;

    background: url("../src/elements/aboutUs.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-clip: text;
    color: transparent;
}

.flex-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 7em;
}

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vision-mission-container {
    width: 60%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vision-mission-title,
.meet-our-team-title {
    font-weight: light;
    font-size: 1.2em;
    color: #194a7a;
}

.mission-vision-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.mission-vision-details {
    /* background-color: #666; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mission-vision-details h1,
.container-2 h1 {
    color: #194a7a;
    font-size: 2.8em;
}

.mission-vision-details p {
    font-weight: lighter;
    font-size: 1.1em;
    line-height: 1.4;
}

.vision-mission-image {
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.team-container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* background-color: red; */
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 3em; */
}

.container-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.member-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 1em;
}

.member-card {
    background: url("../src/elements/memberCard_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 20px 40px rgba(11, 52, 0, 0.3);
    border-radius: 10px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.member-card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(9, 29, 3, 0.6);
}

.member-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.member-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.member-details h3 {
    font-size: 1.3em;
    color: #28351f;
}

.member-details p {
    color: #47533f;
}

.visit-us-container {
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
}

.map-container {
    width: 100%;
}

.visitUs-map {
    width: 100%;
    height: 500px;
    border-radius: 24px;
    border: 1px #A9BA9D solid;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.home-header {
    /* background-color: red; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../src/elements/home.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: wheat;
    gap: 15px;
    padding: 0 3em;
}

.home-header-title {
    font-size: 3em;
}

.home-header p {
    font-weight: lighter;
    font-size: 1.3em;
}

.journey-btn-deco {
    margin-top: 1.5em;
}

.journey-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 1em 1.3em;
    border-radius: 30px;
    gap: 15px;
    color: white;
    background-color: #47533f;
}

.journey-btn i {
    font-size: 1.4em;
}

.journey-btn:hover {
    transform: scale(1.05);
    background-color: #93a08a;
    color: black;
}

.key-initiative,
.function-service,
.frequently-asked-question {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.key-initiative-header,
.function-service-header,
.faq-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.key-initiative-header h1,
.function-service-header h1,
.faq-header h1 {
    font-size: 3.5em;
    color: #194a7a;
}

.key-initiative-header div,
.function-service-header div,
.faq-header div {
    font-weight: lighter;
    font-size: 1.4em;
    color: #194a7a;
}

.key-initiative-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: red; */
    width: 100%;
}

.key-initiative-card {
    background: url("../src/elements/homeCard_background.png");
    /* box-shadow: 0 20px 40px rgba(11, 52, 0, 0.3); */
    /* background-color: #28351f; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 45%;
    padding: 1.3em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
}

.key-initiative-card i,
.key-initiative-card-details h1 {
    color: #28351f;
}

.key-initiative-card i {
    font-size: 4em;
}

.key-initiative-card-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.key-initiative-card-details h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.key-initiative-card-details p {
    font-weight: light;
    font-size: 1.1em;
    line-height: 1.4;
    text-align: justify;
    color: #47533f;
}

.funtion-service-container {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.function-service-space1,
.function-service-space2 {
    width: 35%;
}

.home-image2 {
    width: 350px;
    height: 300px;
    /* background-color: green; */
}

.function-service-space1,
.function-service-space2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.funtion-service-container h1 {
    color: #28351f;
}

.funtion-service-container p {
    font-weight: light;
    font-size: 1.1em;
    line-height: 1.4;
    text-align: justify;
    color: #47533f;
}

.frequently-asked-question {
    margin-bottom: 3em;
}

.faq-container {
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.faq {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #28351f;
    padding: 0 2em;
    height: 50px;
    font-size: 1.1em;
    background-color: #def7e5;
}

.answer {
    background-color: #8cba98;
    border: 1px solid #28351f;
    padding: 1.5em 2em;
    font-weight: lighter;
    line-height: 1.3;
    font-size: 1.05em;
    display: none;
}

.contact-us {
    /* background-color: red; */
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-us-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* background-color: blue; */
}

.contact-us-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-us-header h1 {
    color: #194a7a;
    font-size: 3.5em;
}

.contact-us-header p {
    color: #194a7a;
    font-weight: lighter;
    font-size: 1.1em;
}

.contact-us-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-us-image {
    width: 45%;
    height: 558px;
    border-radius: 10px;
}

.contact-form {
    background-color: #9cad92;
    border-radius: 10px;
    padding: 1em 2em;
    width: 50%;
    /* font-size: 1.1em; */

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-box {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-box input,
.input-box textarea,
.input-box select {
    width: 100%;
    height: 2rem;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px black solid;
}

.input-box select {
    padding: 5px 15px;
}

.input-box input:focus,
.input-box textarea:focus,
.input-box select:focus {
    border-color: #194a7a;
    box-shadow: 0 0 10px rgba(0, 53, 13, 0.6);
    outline: none;
}

.input-box textarea {
    height: 120px;
}

.submit-container {
    /* background-color: #fff; */
    display: flex;
    justify-content: center;
}

.submitContact-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 1.5em;
    gap: 8px;
    border: none;
    color: white;
    background-color: #707c68;
    border-radius: 8px;
}

@media(max-width: 800px) {
    header {
        padding: 0.5em 1em;
    }

    .mobile-logo {
        display: block;
    }

    .desktop-logo {
        display: none;
    }

    nav {
        /* background-color: red; */
        width: 75%;
        font-size: 1em;
    }


    .login {
        background-color: #A9BA9D;
        background-image: none;
    }

    .login-container {
        all: unset;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .login-header {
        padding: 1.8em;
        height: 25%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        /* background: linear-gradient(to right, #CFE5F3 0%, #B1C6D7 100%); */
        background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
            url("../src/elements/loginBg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .login-header h1 {
        color: white;
    }

    .login-header p {
        color: white;
        font-weight: 500;
    }

    .login-form {
        margin-top: 5em;
    }

    .btn-login {
        margin-top: 2.5em;
    }

    .about-us-header {
        height: 250px;
    }

    .about-us-header h1 {
        font-size: 3.5em;
    }

    .mission-vision-content {
        width: 90%;
    }

    .flex-container {
        width: 90%;
        /* background-color: red; */
    }

    .container-1 {
        flex-direction: column;
        gap: 20px;
    }

    .vision-mission-container {
        /* background-color: blue; */
        width: 100%;
    }

    .team-container {
        width: 90%;
    }

    .visit-us-container {
        width: 90%;
    }

    .team-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        width: 100%;
    }

    .member-card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }

    .member-card {
        width: 80%;
        height: 350px;
    }

    .visit-us-container {
        width: 100%;
    }

    .visitUs-map {
        border-radius: 8px;
        height: 300px;
    }

    footer {
        padding: 1em 2em;
        font-size: 0.9em;
    }

    .footer-details {
        flex-direction: column;
        align-items: flex-start;
        gap: 50px;
    }

    .footer-section2 {
        align-items: flex-start;
    }

    .copy-right {
        font-size: 0.9em;
    }

    .home-header-title {
        font-size: 2em;
    }

    .home-header p {
        font-size: 1.2em;
    }

    .key-initiative-card-container {
        flex-direction: column;
        gap: 70px;
    }

    .key-initiative-card {
        background: url("../src/elements/mobileHomeCard_background.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
    }

    .key-initiative-card-details h1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        font-size: 1.7em;
    }

    .key-initiative-card-details p {
        font-weight: light;
        font-size: 1.1em;
        line-height: 1.4;
        text-align: justify;
        color: #47533f;
    }

    .funtion-service-container {
        flex-direction: column;
        gap: 20px;
    }

    .function-service-space1,
    .function-service-space2 {
        width: 100%;
    }

    .question {
        font-size: 0.9em;
        padding: 0 1em;
    }

    .answer {
        font-size: 0.9em;
        padding: 1em;
    }

    .contact-us-header h1 {
        font-size: 3em;
    }


    .contact-us-container {
        width: 90%;
    }

    .contact-us-image {
        display: none;
    }

    .contact-form {
        width: 100%;
    }
}