@import url("general.css");

body {
    background-color: #A9BA9D;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2.5em;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1000;
}

.mobile-logo {
    display: none;
}

nav {
    /* background-color: red; */
    width: 40%;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav a,
nav a:visited {
    font-size: 1em;
    color: black;
    text-decoration: none;
}

nav a:hover {
    color: #707c68;
    transform: scale(1.10);
    font-weight: bold;
}

footer {
    background-color: #707c68;
    width: 100%;
    padding: 1em 3em;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-details {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    height: 90%;
    /* background-color: green; */
}

.copy-right {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    padding-top: 1em;
}

.footer-section1 {
    width: 50%;
    background-color: blue;
    height: 100%;
}

.footer-logo {
    width: 150px;
    height: 50px;
}

.footer-section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 50%;
    background-color: red;
}

.footer-section2 a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 89vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 0.35)),
        url("../src/elements/apuBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-container {
    width: 500px;
    height: 500px;
    padding: 1em;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-header {
    padding: 1.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    /* background-color: #ccc; */
}

.login-header p {
    color: #666;
}

.login-form {
    margin-top: 1em;
    width: 90%;
}

.login-form form {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* background-color: blue; */
}

.login-form-table {
    width: 100%;
    margin: 1em auto;
    border-spacing: 1em 1.2em;
    font-size: 1em;
    color: #333;
    /* background-color: red; */
}

.login-form-table .label {
    font-weight: 500;
    width: 3em;
    text-align: left;
    padding-right: 10px;
}

.password-labelText,
.password-colon {
    padding-bottom: 1.5em;
}

.login-form-table .colon {
    width: 0.3em;
    text-align: center;
}

.login-form-table input {
    width: 100%;
    padding: 0.8em 0.5em;
    border: 1.5px #ccc solid;
    border-radius: 6px;
    font-size: 1em;
    transition: 0.3s;
}

.login-form-table input:focus {
    border-color: #194a7a;
    box-shadow: 0 0 5px rgba(25, 74, 122, 0.4);
    outline: none;
}

.password-feild {
    display: flex;
    flex-direction: column;
}

.password-feild .forgot-password {
    align-self: flex-end;
    padding-top: 0.7em;
    font-size: 0.8em;
    color: #194a7a;
    text-decoration: none;
}

.btn-login {
    align-self: center;
    width: 90%;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1em;
    border: none;
    border-radius: 15px;
    padding: 1em 0;
    transition: 0.3s;
}

.btn-login:hover {
    background: rgba(36, 98, 159, 0.8);
    transform: translateY(-2px);
}

.signup-text {
    margin-top: 1em;
    align-self: center;
    font-size: 0.9em;
    /* background-color: aqua; */
}

.signup-text a {
    color: #194a7a;
    text-decoration: none;
}

.signup-text a:hover,
.password-feild .forgot-password:hover {
    text-decoration: underline;
}

.about-us-container {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 30px;
    margin-bottom: 2em;
}

.about-us-header {
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../src/elements/aboutUs.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.model {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

.about-us-header h1 {
    font-size: 8em;
    font-weight: 800;
    letter-spacing: 10px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    -webkit-text-stroke: 1px white;

    background: url("../src/elements/aboutUs.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    background-clip: text;
    color: transparent;
}

.flex-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 7em;
}

.container-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.vision-mission-container {
    width: 60%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.vision-mission-title,
.meet-our-team-title {
    font-weight: light;
    font-size: 1.2em;
    color: #194a7a;
}

.mission-vision-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.mission-vision-details {
    /* background-color: #666; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mission-vision-details h1,
.container-2 h1 {
    color: #194a7a;
    font-size: 2.8em;
}

.mission-vision-details p {
    font-weight: lighter;
    font-size: 1.1em;
    line-height: 1.4;
}

.vision-mission-image {
    width: 300px;
    height: 350px;
    border-radius: 10px;
}

.team-container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* background-color: red; */
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 3em; */
}

.container-2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.member-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 1em;
}

.member-card {
    background: url("../src/elements/memberCard_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 20px 40px rgba(11, 52, 0, 0.3);
    border-radius: 10px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.member-card:hover {
    transform: scale(1.05);
    box-shadow: 0 20px 40px rgba(9, 29, 3, 0.6);
}

.member-card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.member-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.member-details h3 {
    font-size: 1.3em;
    color: #28351f;
}

.member-details p {
    color: #47533f;
}

.visit-us-container {
    width: 100%;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
}

.map-container {
    width: 100%;
}

.visitUs-map {
    width: 100%;
    height: 500px;
    border-radius: 24px;
    border: 1px #A9BA9D solid;
}

@media(max-width: 800px) {
    header {
        padding: 0.5em 1em;
    }

    .mobile-logo {
        display: block;
    }

    .desktop-logo {
        display: none;
    }

    nav {
        /* background-color: red; */
        width: 75%;
        font-size: 1em;
    }


    .login {
        background-color: white;
        background-image: none;
    }

    .login-container {
        all: unset;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .login-header {
        padding: 1.8em;
        height: 25%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        /* background: linear-gradient(to right, #CFE5F3 0%, #B1C6D7 100%); */
        background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
            url("../src/elements/apuBackground.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .login-header p {
        color: #565656;
        font-weight: 500;
    }

    .login-form {
        margin-top: 5em;
    }

    .btn-login {
        margin-top: 2.5em;
    }

    .about-us-header {
        height: 250px;
    }

    .about-us-header h1 {
        font-size: 3.5em;
    }

    .mission-vision-content {
        width: 90%;
    }

    .flex-container {
        width: 90%;
        /* background-color: red; */
    }

    .container-1 {
        flex-direction: column;
        gap: 20px;
    }

    .vision-mission-container {
        /* background-color: blue; */
        width: 100%;
    }

    .team-container {
        width: 90%;
    }

    .visit-us-container {
        width: 90%;
    }

    .team-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        width: 100%;
    }

    .member-card-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }

    .member-card {
        width: 80%;
        height: 350px;
    }

    .visit-us-container {
        width: 100%;
    }

    .visitUs-map {
        border-radius: 8px;
        height: 300px;
    }
}